
.cofound {
    width: 80%;
    margin: auto;
  
    padding-top: 100px;
}


.cofound h1 {
    line-height: 75px;
    letter-spacing: -0.2rem;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
}

.cofound p {
    font-family: var(--font-family);
    text-align: center;
    color: #212121;
    font-style: 14px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.cofound-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}


.cofound-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


.cofound-col img {
    width: 10%;
    border-radius: 10px;
}


@media screen and (max-width:700px) {
    .cofound h1 {
        line-height: 55px;
        letter-spacing: -0.2rem;
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .cofound-col h3 {
    
        text-align: center;
     
    }
}