.cta {
    padding: 100px;
    margin: 50px 200px 0 200px;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid white;
}


.cta-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    font-family: var(--font-family);
    color: #212121;
}


@media(max-width: 700px) {
    .cta {
        width: 80%;
        margin: auto;
        padding: 30px;
    }

    .cta-content p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
}










