.navbar {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: space-between;

}

.navbar-links img {
    width: 100px;
    height: 64px;
}


.navbar-links_container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.more {
    display: flex;
}

.navbar-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 5px;

}


.navbar-links_container p {
    color: #212121;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    transition: 0.5s;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links_container p:hover {
    color: #20888F;
}


.navbar-sign-in button {
    padding: 15px 24px 15px 24px;
    opacity: 0px;
    background: rgb(70, 70, 243);
    color: #212121;
    Width: 162px;
    Height: 49px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 24px 24px 24px 24px; 
    transition: 0.5s;   
}


.navbar-sign-in button:hover {
    color: #000;
}


.navbar-sign button {
    padding: 15px 24px 15px 24px;
    background: #303030;
    color: #fff;
    Width: 162px;
    Height: 49px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 24px 24px 24px 24px;
    transition: 0.5s;
}

.navbar-sign button:hover{
    color: lightseagreen;
}

.navbar-sign-in p {
    color: #fff;
}



@media screen and (max-width:700px) {

    .navbar {
        display: flex;
        padding: 1% 2%;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links img {
        width: 40px;
        height: 24px;
    }


    .navbar-button {
        display: flex;       
    }

    .navbar-links_container {
        display: flex;
        
    }


    .more {
        display: none;
    }
    
    .navbar-sign-in button {
        Width: 62px;
        Height: 29px;
        font-weight: 700;
        font-size: 10px;
        line-height: 7px;
        padding: 10px;
    }

    .navbar-sign button {
        color: #fff;
        Width: 62px;
        Height: 29px;
        padding: 10px;
        font-weight: 700;
        font-size: 10px;
        line-height: 9px;
        transition: 0.5s;   
    }

    .navbar-links_container p {
        font-style: 10px;
        margin-bottom: 10px;
        color: #212121;
        font-weight: 700;
        font-size: 10px;
        line-height: 20px;
        text-transform: capitalize;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .navbar-links_container p:hover {
        color: #20888F;
    }
}



