.program {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}


.program h1 {
    line-height: 75px;
    letter-spacing: -0.2rem;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    line-height: 72.8px;
    margin-bottom: 40px;
}

.program p {
    font-family: var(--font-family);
    text-align: center;
    color: #212121;
    font-style: 14px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 70px;
}


